{
  "tabWidth": 2,
  "printWidth": 80,
  "singleQuote": true,
  "endOfLine": "lf",
  "trailingComma": "es5",
  "semi": true,
  "proseWrap": "preserve",
  "quoteProps": "consistent",
  "bracketSpacing": true
}
